.book {
    position: relative;
    height: 100%;
}

.book__left {
    width: 400px;
    text-align: center;
    background-color: rgb(230, 230, 230);
    padding: 8%;
    max-width: 400px;
    max-height: 450px;
    border-radius: 5px;
}

.book__icon {
    width: auto;
}

.book__category {
    font-weight: 700;
    font-size: 20px;
}

.book__title {
    margin-top: 50px;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
}

.book__author {
    margin-top: 20px;
    font-size: 20px;
    text-decoration: underline;
    color: rgb(110, 110, 110);
}

.book__description {
    margin-top: 50px;
    font-size: 18px;
    max-width: 800px;
}

@media screen and (max-width: 1280px) {
    .book__left {
        margin: 0 auto;
    }

    .book__right {
        text-align: center;
    }

    .book__description {
        margin: 50px auto;
    }
}

@media screen and (max-width: 750px) {
    .book__title {
        margin-top: 20px;
        font-size: 25px;
        line-height: 28px;
    }
}

@media screen and (max-width: 540px) {
    .book__title {
        font-size: 22px;
    }

    .book__left {
        width: 100%;
        max-width: 100%;
    }
}